* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ec5242;
  --dark: #272a31;
  --light-gray: #d3d3d3;
}

html {
  font-family: montserro, "Lucida Grande", Tahoma, sans-serif;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid:
    "navbar" auto
    "hero" auto
    "program" 2fr
    "speaker" auto
    / 1fr;
  gap: 8px;
}

.menu-icon {
  width: 32px;
  height: 32px;
}

.mobile-menu {
  display: none;
}

.navbar {
  grid-area: navbar;
  width: 100%;
  height: 63px;
  background: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 24px;
}

.primary-text {
  color: var(--primary);
  font-size: 4rem;
  font-weight: 900;
  background-image: url('/assets/images/primary-text-bg.jpg');
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* stylelint-disable-next-line csstree/validator */
  background-clip: text;
}

.supporting-text {
  font-size: 1.5rem;
}

.hero {
  grid-area: hero;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero::after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url('/assets/images/Hero-background.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -1;
}

.hero-heading {
  margin-top: 7rem;
}

.program {
  grid-area: program;
}

.speaker {
  grid-area: speaker;
}

/* Desktop version */
@media (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
